<div class="responsiveHeader">
    <div class="row">
    <div class="col-md-6 col-sm-6"> <div class="logo">
      <a  href="/"><img src="../assets/img/logo.png" alt=""></a></div></div>
    <div class="col-md-6 col-sm-6"><span class="navigation" style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span></div>
  </div>
  </div>
  <div id="myNav" class="overlay">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <div class="overlay-content">
      <a href="/">Home</a>
      <a href="/about" class="active">About</a>
      <a href="/properties">Properties</a>
      <a href="/products">Products</a>
      <a href="/services">Services</a>
      <a href="/contact">Contact</a>
    </div>
  </div>


  <div class="container-fluid">
    <!-- Page Content -->
    <div class="row">
      <!-- Left Side Owl Carousel -->
      <div class="col-xl-5 col-lg-5 col-md-6">
       
        <div class="aboutUs">
          <img src="./assets/img/about-image.png" alt="">
        </div>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-6">
       
        <div class="pageWrapper about">
          <div class="logo"><a  href="/"><img src="./assets/img/logo.png" alt=""></a></div>
          <div class="scroll resrv">
          <div class="info">
            <h1>About Us</h1>
            <div class="textWrap">
            <p>
              At Shevnna, we are dedicated to providing comprehensive solutions for your home and lifestyle needs. Whether you're seeking a new rental property, planning a home renovation, enhancing your home decor, or organizing a memorable event,we have the expertise and services to make it happen.
            </p>
            <p>
              Our property rental services cater to a wide range of preferences and budgets. Whether you're looking for a cozy apartment in a quiet neighborhood or a spacious family home with modern amenities, our extensive inventory has something to suit your needs. Our team of experienced professionals is committed to finding the perfect rental property that meets your specific criteria. We understand that finding the right home can be a stressful process, so we strive to make it as easy and enjoyable as possible.
            </p>
            <p>
              Transform your living space with our expert home renovation services. Our team of skilled contractors and designers can handle projects of all sizes, from minor updates to complete overhauls. Whether you're looking to modernize your kitchen, create a spa-like bathroom, or add a new room to your home, we have the expertise to bring your vision to life.We pride ourselves on our attention to detail, quality workmanship, and commitment to meeting deadlines.</p>
              <p>
                Elevate your home's aesthetic with our curated collection of high-quality home decor items. From stylish furniture and lighting to trendy accessories and artwork, we have everything you need to create a personalized and inviting space. Our team of design experts can provide personalized advice and recommendations to help you achieve your desired look.Whether you're looking to add a touch of modern elegance or create a cozy and comfortable atmosphere, we have the perfect pieces to suit your style.
              </p>
              <p>
                Let Shevnna take the stress out of planning your next event. Our event planning services cover everything from venue selection and catering to decor and entertainment. We offer a wide range of party rental items, including tables, chairs,linens, and equipment, to ensure your event is a success. Our team of experienced event planners will work closely with you to understand your vision and create a memorable occasion that exceeds your expectations.
              </p>

              <p>We accept a variety of payment methods: Zelle, E-Pay, PayPal, Cash App, and bank transfers. Enjoy hassle-free delivery via Knutsford, Tara, Doorway Express, and Mail.</p>
           
          </div>
          <div class="terms cate">
            <a href="/legal/terms-of-service">Terms of Service</a>  |  <a href="/legal/privacy-policy">Privacy Policy</a>
            <span> <a href="https://setibjamaica.com" target="_blank">Powered by Setib Business Solutions</a> </span>
          </div>
          </div>
        </div>
      </div>
      </div>

      <div class="col-xl-1 col-lg-1 col-md-0 hide">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark flex-column p-3 rightMenu">
         
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav flex-column">
              <li class="nav-item ">
                <a class="nav-link" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item  active">
                <a class="nav-link" href="/about">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/properties">Properties</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/products">Products</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/services">Services</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/contact">Contact</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>

    </div>
  </div>
